.bloco{
  height: 100px;
  width: 100px;
  margin: 5px;
  display: inline-block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #a05800;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
h1 {
  color: white;
  margin: 2%;
}
.memory-game {
  width: 640px;
  height: 640px;
  flex-wrap: wrap;
  /* perspective: 1000px; */
  display: flex;
  flex-direction: column;
  
}

.memory-card {
  display: flex;
  width: calc(25% - 10px);
  height: calc(33.3333% - 5px);
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  background: #F6931E;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  border-radius: 10px;
}

.image-card {
  background: #F6931E;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transition: transform .5s;
  width: 60%;
  height: 60%;

}

label {
  color: white;
  margin-block: 2%;


}

.btn {
  height: 40pt;
  width: 80pt;
  margin: 2%;
  size: 25pt;
  background: #F6931E;
  border-color: transparent;
  border-radius: 5px;
  color: white;
}

.image-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}


.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  background: #F6931E;
  backface-visibility: hidden;
}

.image {
  width: 13%;
  height: 37%;
  padding: 20px;
  position: absolute;
  border-radius: 10px;
} 

.front-face {
  transform: rotateY(180deg);
}

.upload-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  
}

.form {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 4%;
  align-content: space-around;
 
}

.division {
  margin-bottom: 10%;
}


